@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --green-color: #34c948;
  --black-color: #121212;
  --white-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--black-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;;
}

button {
  border: none;
  outline: none;
}

.app {
  padding: 20px;
}


