.banner {
    background-color: var(--black-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 270px;
}

.left_hero > p {
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
}

@media (max-width: 968px) {
    .banner {
        padding: 0 20px;
    }
    .left_hero > p {
        font-size: 24px;
        line-height: 38px;
    }

    .right_hero img {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .banner {
        flex-direction: column-reverse;
        padding: 20px;
    }
    .left_hero > p {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
    }

    .right_hero img {
        width: 150px;
    }
}